#DefaultBtn{
    background-color:rgb(22,68,80);
    color:rgb(195,220,227);
    border-width:0px;
    font-weight:bolder;
    font-size:0.9em;
    padding: 4px 16px ;
    margin: 10px 10px 10px 3px ;
}
#startImg{
    border-radius:0px;
    max-height:80px;
    overflow:hidden;
    background-size: cover;
    margin: 0 auto;
}
body {
    background: url(back.png);
    background-size:40px 20px;
    margin:0px;
}
.main{
    margin:16px;
}
.divBody{
    justify-content:center;
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    grid-gap:18px;
    list-style: none;
}
.diva {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color:rgb(22,68,80);
    display:flex;
    padding:8px;
    justify-content:space-between;
}
.divb{
    display:flex;
    text-align:center;
    justify-content:flex-start;
}
.titlea{
    color:rgb(195,220,227);
    text-align: center;
    font-size:1em;
    padding:0.9em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}
 
.closeSideBarBtn,li a {
    display: block;
    color:rgb(195,220,227);
    padding: 8px 16px;
    text-decoration: none;
}
 
/* 鼠标移动到选项上修改背景颜色 */
li a:hover:not(.active) {
    
    background-color:rgb(22,68,80);
}
/*关闭按钮*/
.closeSideBarBtn{
    background-color:rgb(209, 56, 56);
    border-width:0px;
    color: white;
}
/*选中项*/
a.active{
    background-color:rgb(22,68,80);
    color:white;
}
img{
    border-radius:10px;
}
.subTitle{
    text-align:center;
    font-size:1.6em;
    padding-left:0.5em;
    color:rgb(195,220,227);
}
 h1{
    text-align:center;
    font-size:2.5em;
}
h2{
    color:rgb(195,220,227);
    
}
.h2o{
    color:black;
    text-align:center;
    justify-content:center;
    align-content:center;
}
h3{
    font-weight:500;
    font-size:1.2em;
    padding:5px;
}
.dive {
    box-shadow: 5px 5px 15px gray;
    background-color:white;
    border-radius:3px;
    padding:20px 15px 20px 15px;
    display:flex;
    align-content:center;
    justify-content:flex-start;
 }
 .card{
    box-shadow: 5px 5px 15px gray;
    background-color:rgb(33,103,120);
    border-radius:3px;
    padding:0px 15px 20px 15px; 
    margin: 2px;
    justify-content: space-between;
 }
.img2{
    height:4.2em;
    width:3.4em;
    border-radius:4px;
}
.animate-left{
    position:relative;
    animation:animateleft 0.4s;
}
@keyframes animateleft{
    from{
        opacity:0;
    } to{
        top:-10;
        opacity:1;
    }
}
.sidebar{
    position:fixed;
    padding:2px;
    background-color:rgb(33,103,120);
    position:fixed!important;
    z-index:1;
    overflow:auto;
}
bar-block .dropdown-hover,
.bar-block .dropdown-click{
    width:100%
}
.bar-block .dropdown-hover .dropdown-content,
.bar-block .dropdown-click .dropdown-content{
    min-width:100%
}
.bar-block .dropdown-hover .button,
.bar-block .dropdown-click .button{
    width:100%;
    text-align:left;
    padding:8px 16px;
}
.card,.card-2{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.openSideMenuBtn{
    background-color:transparent;
    color:rgb(195,220,227);
    font-size:1em;
    width:2.8em;
    float:center;
    border:0em;
}
.openSideMenuBtn:hover{
    background-color:#11111122;
}

.logoimg{
    margin:auto;
    width:2.2em;
    height:2em;
}
.logo{
    display:flex;
}
.crspan{
    color:rgb(195,220,227);
    font-size:1em;
    text-align:center;
}
.gopage{
    border: solid #00000000; 
    background-color:#256fcf;
    border-radius:3px;
    
}
.gobtn{
    border: solid #00000000; 
    background-color:#256fcf;
    border-radius:3px;
    color:white;
    font-weight:bolder;
    font-size:0.9em;
    padding: 4px 16px ;
    margin: auto 10px auto  auto  ;
}
.gobtn:hover,
.gopage:hover{
    background-color:rgb(247, 245, 245);
    border-color:#256fcf;
    color:#256fcf;
}
.content{
    padding:0px;
    font-size:1em;
    margin:0px;
    text-align:center;
    width:100%;
}
.divInfo{
    background-color:#263238;
    padding: 32px 16px ;
}
.infoSpan{
    color:white;
    font-size:1em;
    text-align:center;
}

.line-1{
    margin: 0 auto;
    color:white;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;   
}
.image{
    background-color:black; 
    align-items:center;
    padding:8px;
    
}
p{
    padding:0 0 10px 0;
}