body {
    background: url(back.png);
    background-size:40px 20px;
    margin:0px;
}
.main{
    margin:16px;
}

.diva {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color:#dddddd;
    display:flex;
    padding:8px;
    justify-content:space-between;
}
.divb{
    display:flex;
    justify-content:flex-start;
}
 .titlea{
    color:black;
    text-align: center;
    font-size:1em;
    padding:0.9em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}
 
.closeSideBarBtn,li a {
    display: block;
    color: #f1f1f1;
    color:black;
    padding: 8px 16px;
    text-decoration: none;
}
 
/* 鼠标移动到选项上修改背景颜色 */
li a:hover:not(.active) {
    background-color:#c7e1f1;
    color: black;
}
.closeSideBarBtn{
    background-color:rgb(209, 56, 56);
    color: white;
}
a.active{
    background-color:#256fcf;
    color:white;
}
 img{
    border-radius:10px;
    height:6em;width:6em;
}
.subTitle{
    text-align:center;
    font-size:2em;
    padding-left:0.5em;
    color:black;
}
 h1{
    text-align:center;
    font-size:2.5em;
}
 h2{
    color:black;
}
h3{
    font-weight:500;
    font-size:1.2em;
    padding:5px;
}
 .dive {
    border:#124282 solid 0.15em;
    background: url(diveback.png);
    padding:8px 16px;
    display:flex;
}
.img2{
    height:4.2em;
    width:3.4em;
    border-radius:4px;
}
.animate-left{
    position:relative;
    animation:animateleft 0.4s;
}
@keyframes animateleft{
    from{
        left:-300px;
        opacity:0;
    } to{
        left:0;
        opacity:1;
    }
}
.sidebar{
    position:fixed;
    top:0px;
    height:100%;
    width:250px;
    background-color:#cccccc;
    position:fixed!important;
    z-index:1;
    overflow:auto;
}
bar-block .dropdown-hover,
.bar-block .dropdown-click{
    width:100%
}
.bar-block .dropdown-hover .dropdown-content,
.bar-block .dropdown-click .dropdown-content{
    min-width:100%
}
.bar-block .dropdown-hover .button,
.bar-block .dropdown-click .button{
    width:100%;
    text-align:left;
    padding:8px 16px;
}
.card,.card-2{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.openSideMenuBtn{
    background-color:transparent;
    color:black;
    font-size:1em;
    width:2.8em;
    float:center;
    border:0em;
}
.openSideMenuBtn:hover{
    background-color:#11111122;
}

.logoimg{
    margin:auto;
    width:2.2em;
    height:2em;
}
.logo{
    display:flex;
}
.crspan{
    color:black;
    font-size:1em;
    text-align:center;
}
.gopage{
    border: solid #00000000; 
    background-color:#256fcf;
    border-radius:3px;
    color:white;
    font-weight:bolder;
    font-size:0.9em;
    padding: 4px 16px ;
    margin: 10px 10px 10px 6px  ;
}
.gobtn{
    border: solid #00000000; 
    background-color:#256fcf;
    border-radius:3px;
    color:white;
    font-weight:bolder;
    font-size:0.9em;
    padding: 4px 16px ;
    margin: auto 10px auto  auto  ;
}
.gobtn:hover,
.gopage:hover{
    background-color:rgb(247, 245, 245);
    border-color:#256fcf;
    color:#256fcf;
}
.content{
    padding:0px;
    font-size:1em;
    margin:0px;
}