*{
    background-color:#fc5531;
    margin: 0;
	padding: 0;
    
}
@font-face {
    font-family: 'iconfont';/*声明一个名为iconfont的字体变量*/
    src:url('Bellerose-1.ttf') format('truetype');
  }
html, body {
	width: 100%;
	height: 100%;
}
#startDiv{
    background-color:#fc5531;
    position:absolute;
    width : 100%;
    height : 100%;
    /* flex样式呈现*/
    display: flex;
    /*垂直排列*/
    flex-direction: column;
    align-items:center;/*由于flex-direction: column，因此align-items代表的是水平方向*/
    justify-content: center;/*由于flex-direction: column，因此justify-content代表的是垂直方向*/
}
#timerDiv{
    font-family: "iconfont";
    background-color:transparent;
    width : 100%;
    height : 100%;
    position:absolute;
    /* flex样式呈现*/
    display: flex;
    /*垂直排列*/
    flex-direction: column;
    align-items:center;/*由于flex-direction: column，因此align-items代表的是水平方向*/
    justify-content: center;/*由于flex-direction: column，因此justify-content代表的是垂直方向*/
}
#indexToPage{
    color:#FFFFFF;
    font-size:1.5em;
}
#playMusic{
    border:2px solid #FFFFFF;
    padding: 5px 18px ;
    background-color:transparent;
    font-size:1.1em;
    color:#FFFFFF;
}
#playMusic:hover{
    border-color:#FFFFFF;
    background-color:#FFFFFF;
    font-size:1.1em;
    color:#000000;
}
#welcome{
    color:#ffff00;
    font-size:2em;
}
#timeDown{
    color:#ffff00;
    font-size:3em;
}
#mycanvas{
    background-color:#fc5531;
}